*{
    font-family: sans-serif;
}
h1{
   display: inline;
   vertical-align:middle; 
}

main{
    padding-top: 30px;
    background-color: rgb(245,247,248);
    padding-bottom: 20px;
}

.center{
    margin: 0 auto;
    max-width: 700px;
    padding-left: 40px;
}

.option{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 5px 10px;

}
.uno{
    background-color: rgb(61,164,239);
    color: white;
}
.due{
    background-color: white;
    color: rgb(198,204,209);
    border: 1px solid rgb(198,204,209);
}


.list{
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul{
    margin-top: 2px;
}
li{
    margin-top: 10px;
    
}



.pr{
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: xx-small;
    color: white;
}
.blu{
    background-color: rgb(59,161,231);
}
.orang{
    background-color: rgb(240,147,45);
}
.green{
    background-color: rgb(167,194,34);
}
.viola{
    background-color: rgb(145,103,224);
}
.rosa{
    background-color: rgb(211,88,151);
}
