*{
    font-family: sans-serif;
}
img{
    vertical-align: auto;
}
h1{
   display: inline-block;
   vertical-align: middle; 
}

main{
    background-color: rgb(245,247,248);
}

.center{
    margin: 0 auto;
    max-width: 700px;
    padding-left: 40px;
}

.option{
    background-color: white;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 5px 10px;

}
.uno{
    background-color: rgb(61,164,239);
    color: white;
}
.due{
    background-color: white;
    color: rgb(198,204,209);
    border: 1px solid rgb(198,204,209);
}


.list{
    background-color: white;
}



.pr{
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: xx-small;
    color: white;
}
.blu{
    background-color: rgb(59,161,231);
}
.orang{
    background-color: rgb(240,147,45);
}
.green{
    background-color: rgb(167,194,34);
}
.viola{
    background-color: rgb(145,103,224);
}
.rosa{
    background-color: rgb(211,88,151);
}
